.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dropzone {
    border-radius: 10px;
    background: #D2D3DB;
    min-height: 50px;
    padding: 54px 54px;
    text-align: center;
    color: #484B6A99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.platforms {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    width: 100%;
}
